body{
    background: linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container{
    width: 400px;
    margin: 100px auto;
    background-color: #f7f7f7;
    box-sizing: 0 0 3px rgba(0, 0, 0, 0.1);
}

h1{
    background-color: #2980b9;
    margin: 0;
    padding: 10px 20px;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 24px;
}

button{
    float: right;
    background: transparent;
    color: white;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 24px;
}

input{
    width: 100%;
    padding: 13px 13px 13px 20px;
    font-size: 18px;
    color: #666;
    background-color: #f7f7f7;
    box-sizing: border-box;
    outline: none;
    border: 3px solid rgba(0, 0, 0, 0);
    display: none;
    
}

input:focus{
    background-color: white;
    border: 3px solid #2980b9;
    outline: none;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    background-color: white;
    height: 40px;
    line-height: 40px;
    color: #666;
}

li:nth-child(2n){
    background-color: #f7f7f7;
}

span{
    height: 40px;
    margin-right: 20px;
    color: white;
    background: #e74c3c;
    width: 0;
    text-align: center;
    display: inline-block;
    opacity: 0;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
}

li:hover span{
    opacity: 0.9;
    width: 40px;

}

.completed{
    color: gray;
    text-decoration: line-through;
}